@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}
//mixin text
@mixin font($f-size, $f-family, $color) {
  font-size: calculateRem($f-size);
  font-family: $f-family;
  color: $color;
}
