$f-Kaushan-script: "KaushanScript", sans-sefir;
$f-monserat: "Monserat", sans-sefir;

$c-black: #000;
$c-white: #fff;

$fs-50px: 50px;
$fs-46px: 46px;
$fs-36px: 36px;
$fs-26px: 26px;

$m-mobile: "max-width: 767px";
$m-tablet: "min-width: 768px";
$m-desct: "min-width: 960px";