$f-Kaushan-script: "KaushanScript", sans-serif;
$f-monserrat: "Monserrat", sans-serif;
$f-helvetica: "helvetica", sans-serif;

$c-black: #352c2c;
$c-white: #fff;

$fs-50px: 50px;
$fs-46px: 46px;
$fs-36px: 36px;
$fs-26px: 26px;

$m-mobile: "max-width: 767px";
$m-tablet: "min-width: 768px";
$m-desct: "min-width: 960px";

$b-section: 1px solid #726868;