.document-section__title {
  @include font($fs-26px, $f-monserrat, $c-black);
  margin: 0;
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center;
}
@media ($m-tablet) {
  .document-section__title {
    font-size: 28px;
  }
}
