.document-section__text-bir {
  margin: 0;
  font-weight: normal;
  text-align: center;
  @include font(18px, $f-Gabriela, $c-black);
  margin-top: 25px;

  &:first-child {
    margin-bottom: 15px;
  }
}
@media ($m-tablet) {
  .document-section__text-bir {
    font-size: 20px;
  }
}
