.common-section__text {
  margin: 0;
  font-weight: normal;
  text-align: center;
  @include font(18px, $f-Gabriela, $c-black);

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media ($m-tablet) {
  .common-section__text {
    font-size: 20px;
  }
}
