@media ($m-mobile) {
  .common-section__img {
    display: none;
  }
}
@media ($m-tablet) {
  .common-section__img {
    width: 230px;
    height: 151px;
  }
}
@media ($m-desct) {
  .common-section__img {
    width: 330px;
    height: 217px;
  }
}
