.page-header__text {
  @include font(24px, $f-Kaushan-script, $c-white);
  margin: 0;
  display: inline-block;
}

@media (min-width:768px) and (max-width: 959px) {
  .page-header__text {
    font-size: 50px;

    &:first-of-type {
      margin-bottom: 20px;
    }
  }
}

@media ($m-desct) {
  .page-header__text {
    font-size: 38px;
    padding-right: 30px;
  }
}
