.page-header__title {
  @include font(40px, $f-monserrat, $c-white);
  font-weight: 700;
}

@media ($m-mobile) {
  .page-header__title {
    margin-bottom: 30px;
  }
}

@media ($m-tablet) {
  .page-header__title {
    font-size: 62px;
    margin-bottom: 50px;
  }
}

@media ($m-desct) {
  .page-header__title {
    font-size: 80px;
    margin-bottom: 90px;
  }
}
